---
import { basics } from '@cv'
import Section from '@/components/Section.astro'

import Mail from '@/icons/Email.astro'
import Number from '@/icons/Number.astro'
import Github from '@/icons/Github.astro'
import Linkedin from '@/icons/Linkedin.astro'
---

<Section>
  <div class="container">
    <div class="info">
      <h1>{basics.name}</h1>
      <h2>{basics.label}</h2>

      <footer>
        <a
          href={`mailto:${basics.email}`}
          title={`Enviar un correo electrónico a ${basics.name} al correo ${basics.email}`}
          target="_blank"
          rel="noopener noreferrer"
        >
          <Mail />
        </a>
        <a
          href={`tel:${basics.phone}`}
          title={`Llamar por teléfono a ${basics.name} al número ${basics.phone}`}
          target="_blank"
          rel="noopener noreferrer"
        >
          <Number />
        </a>

        {
          basics.profiles.map(({ network, url, username }) => {
            return (
              <a
                href={url}
                title={`Visitar el perfil de ${basics.name} en ${network}`}
                target="_blank"
                rel="noopener noreferrer"
              >
                {network === 'LinkedIn' && <Linkedin />}
                {network === 'GitHub' && <Github />}
              </a>
            )
          })
        }
      </footer>
    </div>

    <figure>
      <img src={basics.image} alt={`Foto de ${basics.name}`} />
    </figure>
  </div>
</Section>

<style>
  .container {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.1rem;
    font-weight: 500;
    text-wrap: balance;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  footer {
    display: flex;
    gap: 12px;
    margin-top: 3px;
  }

  footer a {
    color: #000;
    transition:
      color 0.2s ease,
      transform 0.2s ease;
    transform: scale(1);
  }

  footer a:hover {
    color: #555;
    transform: scale(1.05);
  }

  img {
    aspect-ratio: 1/1;
    border-radius: 6px;
    object-fit: cover;
    width: 100px;
  }
</style>
